.todo {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  text-decoration: underline;
}

.text {
  font-size: 16px;
  margin-top: 20px;
}

.priority {
  font-size: 16px;
  margin-top: 10px;
}

.priorityColor {
  color: blue;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.edit,
.delete {
  border-radius: 10px;
  padding: 5px 7px;
  font-size: 14px;
}

.edit {
  border: 2px solid green;
  color: green;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.edit:hover,
.edit:focus {
  color: white;
  background-color: green;
}

.delete {
  border: 2px solid red;
  color: red;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.delete:hover,
.delete:focus {
  color: white;
  background-color: red;
}
