.todoList {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

@media (min-width: 500px) {
  .pagination {
    gap: 10px;
  }
}

.page {
  font-size: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  border-radius: 50%;
  color: blue;
  cursor: pointer;
}

@media (min-width: 500px) {
  .page {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}

.previous,
.next {
  cursor: pointer;
  color: blue;
}

.active {
  background-color: blue;
  color: white;
}
